@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7f4f4;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.no__cursor {
  cursor: not-allowed;
}

a:hover {
  text-decoration: underline;
}


nav {
 display: flex;
 justify-content: space-between;
 align-items: center; 
 padding: 16px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

h1 {
  font-size: 48px;
}

p {
  line-height: 1.5;
}

.purple {
  color: #6156c5;
}

/* 

NAVIGATION BAR 

*/

.nav__links {
 text-decoration: none;
 display: flex;
 align-items: center;
 gap: 30px;
 padding: 0;
 font-size: 14px;
 text-align: center;
}

.nav__link {
  color: #242424;
}

.nav__link:hover {
  color: #9288ec;
  text-underline-offset: 6px;
}

.nav__link--login {
  padding-left: 60px;
}

.nav__container {
  padding-top: 16px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #170e68;
}

.nav__logo:hover {
  color: #9288ec;
}

.logo {
  width: 44px;
  margin-right: px;
}

.btn {
  height: 36px;
  width: 120px;
  background-color: #4032be;
  color: white;
  border-radius: 999px;
  outline: #4032be;
}

.btn:hover {
  background-color: #36e709;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.logo__treact {
 font-weight: bold;
  font-size: 26px;
  padding: 0;
}

/* 

HEADER

*/

.header__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 136px;
  justify-content: center;
  display: flex;
  gap: 48px;
}

.header__container--left {
  width: 40%;
}

.header__description--para {
  padding-top: 32px;
  font-size: 20px;
  color: #242424;
}

.email__address--bar-wrapper {
  padding-top: 32px;
}

.email__address--bar {
  position: relative;
  width: 100%;
}

.email__address--bar input {
  width: 100%;
  height: 44px;
  border-radius: 999px;
  border: 1px solid #d9d9d9;
  padding-left: 12px;
  outline-style: none;
}

.email__address--btn {
  position: absolute;
  right: 4px;
  top: 4px;
}

.logo__strip--msg {
  padding-top: 40px;
  font-weight: bold;
   color: #2424245b;
}

.header__logo--strip {
  width: 100%;
  max-width: 480px;
  padding-top: 12px;
  opacity: 0.5;
}

.header__container--right {
  width: 60%;
}

.header__container--img {
  width: 100%;
  height: 100%;
}

/* 

FEATURES

*/

.features__container {
  padding: 80px 0;
}

.features__title,
.features__heading,
.features__heading--para {
  text-align: center;
}

.features__title {
 padding-top: 160px;
 color: #7a6ee4;
 font-weight: bold;
 letter-spacing: 2px;
}

.features__heading {
  text-align: center;
  padding-top: 20px;
  font-weight:900;
  color: #020b5c;
}

.features__heading--para {
  padding-top: 20px;
  color: #535455ad;
  font-size: 20px;
}

.features__services {
  display: flex;
  flex-wrap: wrap;
  width: padding 80px 0;

}

.features__service {
  display: flex;
  width: calc(100%/3);
  flex-wrap: wrap;
  padding-top: 56px;
}

.features__service--desc {
  display: flex;
  flex-direction: column;
}

.features__icon {
  border: 1px solid #00000017;
  border-radius: 50%;
  padding: 20px;
  color: #7a6ee4;
}

.features__secure {
  padding-left: 16px;
  color: #020b5c;
}

.features__para {
  padding-left: 80px;
  color: #00000094;
}

/*

QUALITY WORK

*/

.quality__work--row {
  display: flex;
  align-items: center;
}

.quality__work--left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality__title {
 padding-top: 132px;
 color: #7a6ee4;
 font-weight: bold;
 letter-spacing: 2px;
}

.quality__heading {
  padding-top: 20px;
  font-weight:900;
  color: #020b5c;
}

.quality__heading--para {
  padding-top: 20px;
  color: #535455ad;
  font-size: 20px;
}

.quality__btn--container {
  padding-top: 28px;
}

.quality__button {
  padding-top: 12px;
  padding-bottom: 24px;
  font-weight: bold;
}

.quality__work--right {
  width: 50%;
 display: flex;
 justify-content: flex-end;
 padding-top: 160px;
}

.quality__work--right img {
  width: 90%;
}

/* 

STEPS

*/

.steps__row {
  display: flex;
  align-items: center;
  gap: 60px;
}

.steps__left {
  width: 50%;
}

.steps__left img {
  width: 100%;
  padding-top: 272px;
}

.steps__right {
width: 50%;
display: flex;
flex-direction: column;
}

.steps__title {
 color: #7a6ee4;
 font-weight: bold;
 letter-spacing: 2px;
 padding-top: 200px;
}

.steps__number--container {
  display: flex;
  gap: 20px;
}

.steps__number {
  padding-top: 20px;
  font-size: 40px;
  color: #2424243d;
}

.steps__number--desc {
  display: flex;
  flex-direction: column;
}

.number__desc--title {
  font-size: 20px;
  padding-top: 24px;
}

.number__desc--para {
 padding-top: 12px;
 font-size: 14px;
 font-weight: bold;
 color: #2424248f;
}

/*

VALUES

*/

.values__row {
  display: flex;
  align-items: center;
}

.values__left {
  width: 50%;
}

.values__title {
 padding-top: 332px;
 color: #7a6ee4;
 font-weight: bold;
 letter-spacing: 2px;
}

.values__heading {
  padding-top: 20px;
  font-weight:900;
  color: #020b5c;
}

.values__heading--para {
  padding-top: 20px;
  color: #535455ad;
  font-size: 20px;
}


.values__services {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding-top: 40px;
}

.values__service {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.values__icon--1 {
  border: 1px solid #00000017;
  border-radius: 50%;
  padding: 8px;
  color: #242424;
  background-color: rgb(236, 174, 174);
}

.values__icon--2 {
  border: 1px solid #00000017;
  border-radius: 50%;
  padding: 8px;
  color: #242424;
  background-color: rgb(179, 236, 174);
}

.values__secure {
  padding-left: 16px;
  color: #020b5c;
}

.values__para {
  padding-left: 80px;
  color: #00000094;
}

.values__button {
  padding-top: 40px;
}

.values__right {
 width: 50%;
 display: flex;
 justify-content: flex-end;
}

.values__right img {
  padding-top: 200px;
  width: 90%;
  margin-left: auto;
}

/*

PRICING 

*/

.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__title, 
.pricing__heading, .pricing__heading--para {
  text-align: center;
}

.pricing__title {
 padding-top: 300px;
 color: #7a6ee4;
 font-weight: bold;
 letter-spacing: 2px;
}

.pricing__heading {
  padding-top: 20px;
  font-weight:900;
  color: #020b5c;
}

.pricing__heading--para {
  padding-top: 20px;
  color: #535455ad;
  font-size: 18px;
  max-width: 600px;
  padding-bottom: 40px;
}

.pricing__plans {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1100px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.pricing__plan {
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
  border: 1px solid #24242449;
  align-items: center;
  gap: 32px;
  border-radius: 20px;
  overflow: hidden;
}

.pricing__plan--type {
 padding-top: 100px;
 color: #242424;
 font-weight: bold;
 letter-spacing: 1px;
 font-size: 24px;
 text-align: center;
}

.pricing__plan--amt {
  font-size: 48px;
  text-align: center;
  padding-top: 12px;
}

.pricing__plan--monthly {
 padding-top: 12px;
 color: #24242480;
 font-weight: bold;
 letter-spacing: 2px;
 font-size: 20px;
 text-align: center;
}

.pricing__plan--size {
  padding-top: 60px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
  border-top: 1px solid #24242449;
  padding-top: 32px;
}

.pricing__plan--features {
  padding-top: 12px;
  color: #2424247e;
  font-weight: bold;
  text-align: center;
}

.pricing__btn--container {
  padding-top: 60px;
   border-top: 1px solid #24242449;
  margin-top: 32px;
  padding: 32px 0;
  display: flex;
  justify-content: center;
}

.pricing__btn {
  height: 52px;
  width: 280px;
  background: linear-gradient(to right, #08d8ab, #04745b);
  color: white;
  font-weight: bold;
  border-radius: 999px;
  outline: #4032be;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transform: translateY(0) translateX(0);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.pricing__btn:hover {
  transform: translateY(-4px) translateX(2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}