@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7f4f4;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.no__cursor {
  cursor: not-allowed;
}

a:hover {
  text-decoration: underline;
}


nav {
 display: flex;
 justify-content: space-between;
 align-items: center; 
 padding: 16px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

h1 {
  font-size: 48px;
}

p {
  line-height: 1.5;
}

.purple {
  color: #6156c5;
}

/* 

NAVIGATION BAR 

*/

.nav__links {
 text-decoration: none;
 display: flex;
 align-items: center;
 gap: 30px;
 padding: 0;
 font-size: 14px;
 text-align: center;
}

.nav__link {
  color: #242424;
}

.nav__link:hover {
  color: #9288ec;
  text-underline-offset: 6px;
}

.nav__link--login {
  padding-left: 60px;
}

.nav__container {
  padding-top: 16px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #170e68;
}

.nav__logo:hover {
  color: #9288ec;
}

.logo {
  width: 44px;
  margin-right: px;
}

.btn {
  height: 36px;
  width: 120px;
  background-color: #4032be;
  color: white;
  border-radius: 999px;
  outline: #4032be;
}

.btn:hover {
  background-color: #36e709;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}

.logo__treact {
 font-weight: bold;
  font-size: 26px;
  padding: 0;
}

/* 

HEADER

*/

.header__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 136px;
  justify-content: center;
  display: flex;
  gap: 48px;
}

.header__container--left {
  width: 40%;
}

.header__description--para {
  padding-top: 32px;
  font-size: 20px;
  color: #242424;
}

.email__address--bar-wrapper {
  padding-top: 32px;
}

.email__address--bar {
  position: relative;
  width: 100%;
}

.email__address--bar input {
  width: 100%;
  height: 44px;
  border-radius: 999px;
  border: 1px solid #d9d9d9;
  padding-left: 12px;
  outline-style: none;
}

.email__address--btn {
  position: absolute;
  right: 4px;
  top: 4px;
}

.header__logo--strip {
  width: 100%;
  height: 100%;
  padding-top: 32px;  
}

.header__container--right {
  width: 60%;
}

.header__container--img {
  width: 100%;
  height: 100%;
}